n8n-instagram-workflow.json
{
  "name": "Instagram Carousel Publisher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-share",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a2b3c4d-0001-4aaa-8888-000000000001",
      "name": "Receive Post from App",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "instagram-share"
    },
    {
      "parameters": {
        "jsCode": "// Parse the incoming body from the content-gen app and split into one item per image.\n// Each item carries: base64 dataURL, caption, postId, username, index, total, isCarousel.\nconst body = $input.first().json.body ?? $input.first().json;\nconst images = body.images ?? [];\nconst caption = body.caption ?? '';\nconst postId = body.postId ?? 'post';\nconst username = body.username ?? '';\n\nif (images.length === 0) throw new Error('[Split Images] No images received from app');\n\n// Instagram carousel requires at least 2 images.\n// Single-image posts are also supported (routed differently later).\nconst isCarousel = images.length > 1;\n\nreturn images.map((base64, index) => ({\n  json: { base64, caption, postId, username, index, total: images.length, isCarousel },\n}));\n",
        "mode": "runOnceForAllItems"
      },
      "id": "1a2b3c4d-0002-4aaa-8888-000000000002",
      "name": "Split Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudinary.com/v1_1/{{ $vars.CLOUDINARY_CLOUD_NAME }}/image/upload",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.base64 }}"
            },
            {
              "name": "upload_preset",
              "value": "={{ $vars.CLOUDINARY_UPLOAD_PRESET }}"
            },
            {
              "name": "folder",
              "value": "instagram-posts"
            }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0003-4aaa-8888-000000000003",
      "name": "Upload to Cloudinary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Merge Cloudinary secure_url with the original slide metadata.\n// This is needed because the HTTP Request node replaces $json with the API response.\nconst cloudinaryUrl = $input.item.json.secure_url;\nconst original = $('Split Images').item.json;\n\nif (!cloudinaryUrl) throw new Error('[Merge] Cloudinary upload failed — no secure_url in response');\n\nreturn [{\n  json: {\n    cloudinaryUrl,\n    caption: original.caption,\n    postId: original.postId,\n    username: original.username,\n    isCarousel: original.isCarousel,\n    index: original.index,\n    total: original.total,\n  },\n}];\n",
        "mode": "runOnceForEachItem"
      },
      "id": "1a2b3c4d-0004-4aaa-8888-000000000004",
      "name": "Merge Cloudinary URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $vars.IG_USER_ID }}/media",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.cloudinaryUrl }}"
            },
            {
              "name": "is_carousel_item",
              "value": "=true"
            },
            {
              "name": "access_token",
              "value": "={{ $vars.IG_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0005-4aaa-8888-000000000005",
      "name": "Create IG Media Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "jsCode": "// Merge Instagram container ID with slide metadata for later aggregation.\nconst containerId = $input.item.json.id;\nconst merged = $('Merge Cloudinary URL').item.json;\n\nif (!containerId) throw new Error('[Merge Container] No container id returned from Instagram — check IG_USER_ID and IG_ACCESS_TOKEN');\n\nreturn [{\n  json: {\n    containerId,\n    caption: merged.caption,\n    isCarousel: merged.isCarousel,\n    total: merged.total,\n  },\n}];\n",
        "mode": "runOnceForEachItem"
      },
      "id": "1a2b3c4d-0006-4aaa-8888-000000000006",
      "name": "Merge Container ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData"
      },
      "id": "1a2b3c4d-0007-4aaa-8888-000000000007",
      "name": "Aggregate All Containers",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build the final payload to create the Instagram carousel container.\n// data[] is the array of all items collected by the Aggregate node.\nconst all = $input.first().json.data;\nconst containerIds = all.map(item => item.containerId);\nconst caption = all[0]?.caption ?? '';\nconst isCarousel = all[0]?.isCarousel ?? (containerIds.length > 1);\n\nif (containerIds.length === 0) throw new Error('[Build] No container IDs collected');\n\nreturn [{ json: { containerIds, caption, isCarousel, total: containerIds.length } }];\n",
        "mode": "runOnceForAllItems"
      },
      "id": "1a2b3c4d-0008-4aaa-8888-000000000008",
      "name": "Build Carousel Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-carousel",
              "leftValue": "={{ $json.isCarousel }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a2b3c4d-0009-4aaa-8888-000000000009",
      "name": "Carousel or Single?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1920, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $vars.IG_USER_ID }}/media",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "CAROUSEL"
            },
            {
              "name": "children",
              "value": "={{ $json.containerIds.join(',') }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            },
            {
              "name": "access_token",
              "value": "={{ $vars.IG_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0010-4aaa-8888-000000000010",
      "name": "Create Carousel Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $vars.IG_USER_ID }}/media_publish",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "={{ $vars.IG_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0011-4aaa-8888-000000000011",
      "name": "Publish Carousel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $vars.IG_USER_ID }}/media_publish",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.containerIds[0] }}"
            },
            {
              "name": "access_token",
              "value": "={{ $vars.IG_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0012-4aaa-8888-000000000012",
      "name": "Publish Single Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, instagramPostId: $json.id ?? 'published' }) }}"
      },
      "id": "1a2b3c4d-0013-4aaa-8888-000000000013",
      "name": "Respond — Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2640, 300]
    }
  ],
  "connections": {
    "Receive Post from App": {
      "main": [
        [
          { "node": "Split Images", "type": "main", "index": 0 }
        ]
      ]
    },
    "Split Images": {
      "main": [
        [
          { "node": "Upload to Cloudinary", "type": "main", "index": 0 }
        ]
      ]
    },
    "Upload to Cloudinary": {
      "main": [
        [
          { "node": "Merge Cloudinary URL", "type": "main", "index": 0 }
        ]
      ]
    },
    "Merge Cloudinary URL": {
      "main": [
        [
          { "node": "Create IG Media Container", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create IG Media Container": {
      "main": [
        [
          { "node": "Merge Container ID", "type": "main", "index": 0 }
        ]
      ]
    },
    "Merge Container ID": {
      "main": [
        [
          { "node": "Aggregate All Containers", "type": "main", "index": 0 }
        ]
      ]
    },
    "Aggregate All Containers": {
      "main": [
        [
          { "node": "Build Carousel Payload", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Carousel Payload": {
      "main": [
        [
          { "node": "Carousel or Single?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Carousel or Single?": {
      "main": [
        [
          { "node": "Create Carousel Container", "type": "main", "index": 0 }
        ],
        [
          { "node": "Publish Single Image", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Carousel Container": {
      "main": [
        [
          { "node": "Publish Carousel", "type": "main", "index": 0 }
        ]
      ]
    },
    "Publish Carousel": {
      "main": [
        [
          { "node": "Respond — Success", "type": "main", "index": 0 }
        ]
      ]
    },
    "Publish Single Image": {
      "main": [
        [
          { "node": "Respond — Success", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "content-gen-instagram-v1"
}
